# Project 2

In [2]:
import pandas as pd

**First Dataset (relinc.csv)

This first dataset is a correlation of yearly salary and religious denomination. The original dataset is untidy because it uses salary values as column headers instead of a variable header, which should be income.  Using melt, this dataset can be organized into a more concise layout.

In [8]:
df = pd.read_csv('/Users/jamesweatherbee/Desktop/School/IS362_DataAquisition/relinc.csv')
df

,Unnamed: 0,religion,<10k,10-20k,20-30k,30-40k,40-50k,50-75k,75-100k,100-150k,>150k,refused
0,0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,1,Atheist,12,27,37,52,35,70,73,59,74,76
2,2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,3,Catholic,4418,617,732,670,638,1116,949,792,633,1489
4,4,refused,15,14,15,11,10,35,21,17,18,116

In [7]:
df = df.melt(id_vars=['religion'], var_name=['income'], value_name='frequency')
df

    religion      income  frequency
0   Agnostic  Unnamed: 0          0
1    Atheist  Unnamed: 0          1
2   Buddhist  Unnamed: 0          2
3   Catholic  Unnamed: 0          3
4    refused  Unnamed: 0          4
5   Agnostic        <10k         27
6    Atheist        <10k         12
7   Buddhist        <10k         27
8   Catholic        <10k       4418
9    refused        <10k         15
10  Agnostic      10-20k         34
11   Atheist      10-20k         27
12  Buddhist      10-20k         21
13  Catholic      10-20k        617
14   refused      10-20k         14
15  Agnostic      20-30k         60
16   Atheist      20-30k         37
17  Buddhist      20-30k         30
18  Catholic      20-30k        732
19   refused      20-30k         15
20  Agnostic      30-40k         81
21   Atheist      30-40k         52
22  Buddhist      30-40k         34
23  Catholic      30-40k        670
24   refused      30-40k         11
25  Agnostic      40-50k         76
26   Atheist      40-50k         35
27  Buddhist      40-50k         33
28  Catholic      40-50k        638
29   refused      40-50k         10
30  Agnostic      50-75k        137
31   Atheist      50-75k         70
32  Buddhist      50-75k         58
33  Catholic      50-75k       1116
34   refused      50-75k         35
35  Agnostic     75-100k        122
36   Atheist     75-100k         73
37  Buddhist     75-100k         62
38  Catholic     75-100k        949
39   refused     75-100k         21
40  Agnostic    100-150k        109
41   Atheist    100-150k         59
42  Buddhist    100-150k         39
43  Catholic    100-150k        792
44   refused    100-150k         17
45  Agnostic       >150k         84
46   Atheist       >150k         74
47  Buddhist       >150k         53
48  Catholic       >150k        633
49   refused       >150k         18
50  Agnostic     refused         96
51   Atheist     refused         76
52  Buddhist     refused         54
53  Catholic     refused       1489
54   refused     refused        116

**Second dataset